.inline {
  display:inline-block;
}

.clear {
  width:100%;
  clear:both;
}

header {
  width: 100%;
  margin: 0;
  padding: 20px;
  border-bottom: 1px solid #ccc;

  #header-content {
    width: 80%;
    margin: 0 auto;

    #logo {
      display:inline-block;

      img {
        width: 250px;
        height: auto;
      }
    }
  }
}
