extends ../shared/pre-login


block content
  #logo


  a.index#student-login(href='/student/login') Login As Student
  a.index#teacher-login(href='/teacher/login') Login As Teacher
  a.index(href='/register') Register
