extends ../shared/template

block content
  #logo

  a.index-link(href='/student/login') Student Login
  a.index-link(href='/teacher/login') Teacher Login
  a.index-link(href='/register') Create Account
